streamlit
langchain==1.2.15
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-core
chromadb
pypdf
sentence-transformers
groq
plotly
wordcloud
matplotlib
python-dotenv
transformers
torch
protobuf>=4.0.0