streamlit
langchain==1.2.15
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langchain-core
faiss-cpu
pypdf
sentence-transformers==2.7.0
groq
plotly
wordcloud
matplotlib
python-dotenv
transformers==4.44.2
torch==2.4.1
nltk                  
rouge-score            
rank-bm25   
